h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

body {
	background-color: #efefef !important;
}

.panel {
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: #ccc 0 0 1em .1em;
}

.panel-form {
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: .5em;
	margin-bottom: 1.5em;
}

.panel-heading, .panel-footer {
	text-align: center;
}

.centered {
	text-align: center;
}

.profile-container {
	background-color: white;
}

.profile-container .profile-header {
	text-align: center;
	padding: 1em;
}

.form-description {
	margin-bottom: .5em;
}