h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

.panel-pop {
	background-color: white;
	box-shadow: #ccc 0 0 1em .1em;
	padding: 0 !important;
}

.panel {
	padding: 1em;
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
}

.panel-heading, .panel-footer {
	text-align: center;
}

.centered {
	text-align: center;
}

.container-header {
	text-align: center;
	padding: 1em;
}

.form-description {
	margin-bottom: .5em;
}

form#commit, form#decommit {
	margin-bottom: 1.5em;
}